@import './const';

.card {
    border-radius: 15px;
    background: $white;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
    margin: 20px;
}

.card-title {
    font-weight: bold;
    padding-top: 10px;
    margin: 0;
    font-size: 15px;
}

#card-display-user-notification {
    padding: 10px 5px;
    padding-left: 50px;
    padding-right: 50px;

    p {
        text-align: left;

        @media (max-width: $phone) {
            font-size: 16px;
            text-align: center;
        }
    }
}

#notification {
    margin-top: 3px;
    font-size: 20px;
}