@import './const';

.card {
    border-radius: 15px;
    background: $white;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
    margin: 20px;
}

.card-title {
    font-weight: bold;
    padding-top: 10px;
    margin: 0;
    font-size: 15px;
}

#card-display-user-notification {
    padding: 10px 5px;
}

#notification {
    margin-top: 3px;
    font-size: 20px;
}