@import "./const";

body {
    background-color: #e0e0e0;
}

.box-profile {
  background:$white;
  width:600px;
  height: auto;
  padding: 10px;
  border-radius:6px;
  margin: 30px auto 20px auto;
  
  background: #e0e0e0;

  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    margin-bottom: 10px;
  }

}

.info {
  margin-top:10px;
  border-radius:4px;

  p {
    font-size: large;
    font-weight: bold;

    span {
      font-weight: normal;
    }
  }
}

.firstname, .lastname, .email, .paidByHour {
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:500px;
    color:#AAAAAA;
    font-size:1em;
    border-radius:4px;
    margin: 0px;
}

#modify-profile {
    background: #e0e0e0;
    color: $black;
    height: 40px;
    width: 100px;
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
  width:100px;
  margin: 15px;
  border: none;
  border-radius: 10px;

  display: flex;
  justify-content: center;

    &:hover {
        background: #e0e0e0;
        box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    }
}
